/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
  --color-success: #4caf50; /* @mui/material/colors green[500] */
  --color-failure: #f44336; /* @mui/material/colors red[500] */
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: 'Roboto';
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  box-sizing: border-box;
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.installation-messages {
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

textarea {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow:
    0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  margin: 0 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.app-title {
  text-align: center;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 3.5s linear infinite;
}
